/vendor/
# Ignore node_modules directory
node_modules/

# Ignore .env files
.env*

# Ignore log files and databases
*.log
*.sqlite
*.sqlite3
*.db

# Ignore user-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~
*.bak
*.cache
*.project
*.pyc
*.pyo
*.rej
*.snm
*.swn
*.tmp
*.sublime-workspace
*.sublime-project
token
index.html
test.js
styles2.css
